ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #34cf43;
}

ion-radio.ios {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios {
  border-color: #34cf43;
}
.custom-radio-km {
  text-align: center;
  padding: 10px;
}
.custom-radio-km span {
  margin-left: 10px;
}
