.ErrorFallBack {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  gap: 3px;
}
.ErrorFallBack p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 23px;
}
.ErrorFallBack h1 span {
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
}
.ErrorFallBack h1 span:nth-of-type(1) {
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.m_error_top {
  margin-top: 30px;
}
