ion-item:hover {
  --background: grey;
  --color: var(--ion-color-dark);
}

ion-item {
  --padding-start: 20px;
}

ion-item::part(detail-icon) {
  color: grey;
  opacity: 1;
}
.home-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.ion-image {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.card-title {
  margin-bottom: 5px;
}
