ion-item:hover {
  --background: grey;
  --color: var(--ion-color-dark);
}

ion-item {
  --padding-start: 20px;
}

ion-item::part(detail-icon) {
  color: grey;
  opacity: 1;
}
.home-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
div.ion-image-item {
  width: 100%;
  height: 200px !important;
}
div.ion-image-item .blurhash-img {
  width: 100% !important;
  height: 100% !important;
}
.ion-image {
  width: 100%;
  object-fit: cover;
  height: 100% !important;
}
.card-title {
  margin-bottom: 5px;
}
.home-card-padding {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 8px;
}
.search-bar {
  background: #f2f2f2;
}
.search-bar form {
  position: relative !important;
}
.search-bar ion-searchbar {
  width: 85%;
  margin: 0 auto;
  padding: 5px;
  --box-shadow: none;
  border-radius: 10%;
}
.search-bar .search-bar-result {
  position: absolute;
  background: #fff;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  top: bottom;
  z-index: 1000;
  list-style-type: none;
  padding: 5px 10px;
  display: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.search-bar .search-bar-result.on {
  display: block;
}
.search-bar .search-bar-result li {
  margin: 5px;
  padding: 10px;
  background: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.searchbar-input-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.shopsResBar--backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 900;
  background: rgba(0, 0, 0, 0.2);
}

@media (min-width: 600px) {
  div.ion-image-item {
    width: 100%;
    height: 250px !important;
  }
}
@media (min-width: 700px) {
  div.ion-image-item {
    width: 100%;
    height: 280px !important;
  }
}
@media (min-width: 800px) {
  div.ion-image-item {
    width: 100%;
    height: 310px !important;
  }
}
@media (min-width: 900px) {
  div.ion-image-item {
    width: 100%;
    height: 340px !important;
  }
}
@media (min-width: 1100px) {
  div.ion-image-item {
    width: 100%;
    height: 400px !important;
  }
}
@media (min-width: 1300px) {
  div.ion-image-item {
    width: 100%;
    height: 500px !important;
  }
}
