ion-item:hover {
  --background: grey;
  --color: var(--ion-color-dark);
}

ion-item {
  --padding-start: 20px;
}

ion-item::part(detail-icon) {
  color: grey;
  opacity: 1;
}
.home-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
div.ion-image-item {
  width: 100%;
}
.ion-image {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.card-title {
  margin-bottom: 5px;
}
.home-card-padding {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 8px;
}
.search-bar {
  background: #f2f2f2;
}
.search-bar ion-searchbar {
  width: 85%;
  margin: 0 auto;
  padding: 5px;
  --box-shadow: none;
  border-radius: 10%;
}
.searchbar-input-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
