div.form-app {
  width: 100%;
  min-height: 100%;
  overflow: scroll;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
div.form-app span.lg {
  display: inline;
}
div.form-app span.sm {
  display: none;
}
div.form-app > div.form-app-core {
  margin-top: 30%;
  width: 100%;
}
div.form-app > div.form-app-core ion-text {
  line-height: 1.5;
}
div.form-app > div.form-app-core-login,
div.form-app > div.form-app-core-register {
  margin-top: 50%;
  /* padding-bottom: 25%; */
}
div.form-app > div.form-app-core form,
div.form-app > div.form-app-core section {
  width: 100%;
}
div.form-app > div.form-app-core form ion-input {
  margin-bottom: 7%;
}
div.form-app > div.form-app-core h3 {
  text-align: center;
  margin-bottom: 20px;
}
div.form-app > div.form-app-core h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.form-app > div.form-app-core ion-button > * {
  vertical-align: middle;
}
@media screen and (max-width: 300px) {
  div.form-app span.lg {
    display: none;
  }
  div.form-app span.sm {
    display: inline;
  }
  div.form-app > div.form-app-core-register {
    margin-top: 60%;
  }
}
