ion-content {
  position: relative;
}
ion-toolbar {
  --color: white;
  --min-height: 80px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}
div.spacer_drawer {
  height: 50px;
  width: 100%;
  background: transparent;
}
.control-arrow {
  background: transparent !important;
}
.carousel-status {
  display: none;
}
div.form-app {
  width: 100%;
  min-height: 100%;
  overflow: scroll;
  padding: 15px 25px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 299ms ease-in-out;
}
div.form-app span.lg {
  display: inline;
}
div.form-app span.sm {
  display: none;
}
div.form-app > div.form-app-core {
  margin-top: 10%;
  width: 100%;
}
div.form-app > div.form-app-core ion-text {
  line-height: 1.5;
}
div.form-app > div.form-app-core-login,
div.form-app > div.form-app-core-register {
  margin-top: 5%;
}
div.form-app > div.form-app-core-reset {
  margin-top: 20%;
}
div.form-app > div.form-app-core form,
div.form-app > div.form-app-core section {
  width: 100%;
}
div.form-app > div.form-app-core form ion-input {
  margin-bottom: 7%;
}
div.form-app > div.form-app-core h3 {
  text-align: center;
  margin-bottom: 20px;
}
div.form-app > div.form-app-core h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.form-app > div.form-app-core ion-button > * {
  vertical-align: middle;
}
.alert-message {
  line-height: 25px !important;
}
ion-icon.back-btn {
  font-size: 25px;
  color: #fff;
  padding: 13px;
}
/* ion-input.code-placeholder input::placeholder {
  letter-spacing: 10px;
} */
/* ion-content._under_drawer {
  border: 1px solid rgb(46, 8, 107) !important;
} */
@media screen and (max-width: 300px) {
  div.form-app span.lg {
    display: none;
  }
  div.form-app span.sm {
    display: inline;
  }
  div.form-app > div.form-app-core-register {
    margin-top: 60%;
  }
}
