/* .reset-email-screen-center {
  width: 100%;
  height: 100%;
}
.reset-email-screen-center > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
