.payment-details img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.gopHolder {
  background: #ffffff;
}
.gop {
  width: 100%;
  background: #ffffff;
}
.card-con {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px 0;
}
.card-con > div p:nth-of-type(1) {
  margin-bottom: 5px;
}
.payment-desc {
  width: 100%;
  background: transparent;
  padding: 10px;
}
.payment-desc ion-text {
  color: rgba(0, 0, 0, 0.6);
}
.payment-desc ion-icon {
  position: relative;
  top: 2px;
}
.ctpm {
  width: 95%;
  margin: 0 auto;
}
.ctpm ion-button {
  text-transform: capitalize;
}
ion-card-header.payment-card-header {
  padding: 10px 15px;
}
div.ept-con {
  margin-top: 50px !important;
}
div.ept-con form ion-input {
  margin-bottom: 20px !important;
}
div.ept-con h3 {
  margin-bottom: 20px !important;
}
div.payment_transaction {
  padding: 10px;
}
div.payment_transaction form.payment_transaction {
}
